@{
    ViewData["Title"] = "Чем отличаются";
}
<link rel="stylesheet" href="~/css/java.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/PP.css" asp-append-version="true" />
<div class="content">
    <h1>Текущий счет</h1>
    <p>
        Текущий счет - вид счетов в банках, которые служат для хранения денежных средств и осуществления текущих расчетов предприятиями, организациями и т.п., которые могут быть легко сняты со счета. На Т.С. сосредотачиваются главным образом временно свободные денежные капиталы и кассовые резервы промышленных и торговых предприятий. Расчеты по Т.С. совершаются с помощью чеков. Если на счете отражаются еще и ссудные операции, он называется контокоррентным.
      
    </p>
</div>

<div class="content">
    <h1>Сберегательный счет</h1>
    <p>
        Сберегательный счет - это депозитный счет, на который начисляются проценты, открытый в банке или другом финансовом учреждении. Хотя на этих счетах обычно выплачивается лишь умеренная процентная ставка, их безопасность и надежность делают их хорошим вариантом для хранения наличных, которые вы хотите использовать на краткосрочные нужды. Но учтите, что вывести со счета средства можно лишь через месяц.

    </p>
</div>
<div class="content">
    <h1>Накопительный счет</h1>
    <p>
        Накопительный счёт — это счёт, который можно пополнять на любую сумму, а также свободно её снимать, процентный доход начисляется в основном на ту часть денег, которая пролежала на счету месяц.

    </p>
</div>
<a href="javascript:history.back()" class="btn btn-secondary btn-back">Назад</a>