@{
    ViewData["Title"] = "ER";
}
<link rel="stylesheet" href="~/css/java.css" asp-append-version="true" />
<h1 style="color: orangered;">
    Транзакция отменена. Причина: счет не найден
<a href="javascript:history.back()" class="btn btn-secondary btn-back">Назад</a>
