@{
    ViewData["Title"] = "ER";
}
<h1 style="color: red;">
    Подозрительные действия. Транзакция запрещена. Причина: сумма перевода больше чем баланс счета
</h1>
<a href="javascript:history.back()">Назад</a>
