@model ViewVerify
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<div class="container mt-4">
    <h2>Завершение регистрации</h2>

    <form asp-action="Verify" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label asp-for="Verify" class="form-label">Введите код подтверждения, отправленный вам на почту</label>
            <input asp-for="Verify" class="form-control" placeholder="0000" value="" />
            <span asp-validation-for="Verify" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Зарегистрировать</button>
        </div>
    </form>
</div>

