@{
    ViewData["Title"] = "Условия использования";
}
<link rel="stylesheet" href="~/css/PP.css" asp-append-version="true" />
<div class="content">
    <h1>Условия использования</h1>
   <p>

        1.1. ООО «BANK» (далее — «Bank») предлагает пользователю сети Интернет (далее — Пользователь) использовать сервис Bank ID (далее — «Сервис»), предоставляющий возможность создания и управления учетной записью (Bank ID) для использования сервисов, предоставляемых ООО «BANK» и/или его аффилированными лицами, в том числе входящими в одну группу с ООО «BANK» (далее — «сервисы Bankа»), а также предоставляющий отдельные функции в соответствии с настоящими Условиями использования сервиса Bank ID (далее — «Условия»).

        1.2. Настоящие Условия представляют собой дополнение и неотъемлемую часть Пользовательского соглашения сервисов Bank относительно порядка использования сервисов Bankа.

        Во всем, что не предусмотрено настоящими Условиями, отношения между Bankом и Пользователем в связи с использованием Bank ID регулируются:

        Пользовательским соглашением сервисов Bankа
        Политикой конфиденциальности (далее — «Регулирующие документы»).
        1.3. Начиная использовать Сервис/его отдельные функции, Пользователь считается принявшим настоящие Условия, а также условия всех указанных выше документов, в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений указанных документов, Пользователь не вправе использовать Сервис.

        1.4. Настоящие Условия могут быть изменены Bankом без какого-либо специального уведомления, новая редакция Условий вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Условий. Действующая редакция Условий всегда находится на странице по адресу:

        1.5. В случае если Bankом были внесены какие-либо изменения в настоящие Условия, в порядке, предусмотренном п. 1.4. настоящих Условий, с которыми Пользователь не согласен, он обязан прекратить использование Сервиса


   </p>
</div>