@model Bank.Models.OpenAccountViewModel
<link rel="stylesheet" href="~/css/open.css" asp-append-version="true" />
@{
    ViewBag.Title = "Вы уже открыли кредитный счет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/java.css" />
<h1>Вы уже открыли кредитный счет</h1>
<h1>-</h1>
<a href="/Account/Profile" class="btn btn-secondary btn-back">В личный кабинет</a>
