@model OpenСreditModel
<link rel="stylesheet" href="~/css/open.css" asp-append-version="true" />
@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a>Вы не можете взять больше 6 кредитов</a>
<a href="/account/Login" class="custom-link onclick=">Войти личный кабинет</a>
