@model OpenAccountViewModel
@{
    ViewData["Title"] = "Открытие Счета";
}

<link rel="stylesheet" href="~/css/shet.css" />

<div class="form-container">
    <h2 class="form-title">Открытие Счета</h2>
    
    <form asp-action="OpenAccount" method="post">
        <input type="hidden" name="ID_Клиента" value="@Model.ID_Клиента" />

        <div class="form-group">
            <label>Тип счета</label>
            <div>
                <input type="radio" id="typeCurrent" name="ТипСчета" value="Текущий" class="radio-input" style="display: none;" checked />
                <label for="typeCurrent" class="radio-label">
                    <img src="/img/Shet/2.jpg" alt="Текущий" />
                    <div class="overlay-text">Текущий</div>
                </label>
            </div>
            <div>
                <input type="radio" id="typeSavings2" name="ТипСчета" value="Сберегательный - 4%" class="radio-input" style="display: none;" />
                <label for="typeSavings2" class="radio-label">
                    <img src="/img/Shet/1.jpg" alt="Сберегательный - 4%" />
                    <div class="overlay-text">Сберегательный - 4%</div>
                </label>
            </div>
            <div>
                <input type="radio" id="typeSavings3" name="ТипСчета" value="Накопительный - 2%" class="radio-input" style="display: none;" />
                <label for="typeSavings3" class="radio-label">
                    <img src="/img/Shet/3.jpg" alt="Накопительный - 2%" />
                    <div class="overlay-text">Накопительный - 2%</div>
                </label>
            </div>
        </div>
        <a href="/Transaction/Index4">В чем отличие?</a>
        <div class="form-group">
            <label>Начальный баланс</label>
            <div>
                <input type="radio" id="balance100" name="НачальныйБаланс" value="100" class="radio-input" style="display: none;" checked />
                <label for="balance100" class="radio-label">
                    <img src="/img/Shet/balance/100.jpg" alt="100" />
                    <div class="overlay-text">100</div>
                </label>
            </div>
            <div>
                <input type="radio" id="balance500" name="НачальныйБаланс" value="500" class="radio-input" style="display: none;" />
                <label for="balance500" class="radio-label">
                    <img src="/img/Shet/balance/500.jpg" alt="500" />
                    <div class="overlay-text">500</div>
                </label>
            </div>
            <div>
                <input type="radio" id="balance1000" name="НачальныйБаланс" value="1000" class="radio-input" style="display: none;" />
                <label for="balance1000" class="radio-label">
                    <img src="/img/Shet/balance/1000.jpg" alt="1000" />
                    <div class="overlay-text">1000</div>
                </label>
            </div>
            <div>
                <input type="radio" id="balance5000" name="НачальныйБаланс" value="5000" class="radio-input" style="display: none;" />
                <label for="balance5000" class="radio-label">
                    <img src="/img/Shet/balance/5000.jpg" alt="5000" />
                    <div class="overlay-text">5000</div>
                </label>
            </div>
            <div>
                <input type="radio" id="balance10000" name="НачальныйБаланс" value="10000" class="radio-input" style="display: none;" />
                <label for="balance10000" class="radio-label">
                    <img src="/img/Shet/balance/10000.jpg" alt="10 000" />
                    <div class="overlay-text">10 000</div>
                </label>
            </div>
            <div>
                <input type="radio" id="balance100000" name="НачальныйБаланс" value="100000" class="radio-input" style="display: none;" />
                <label for="balance100000" class="radio-label">
                    <img src="/img/Shet/balance/100000.jpg" alt="100 000" />
                    <div class="overlay-text">100 000</div>
                </label>
            </div>
        </div>

        <button type="submit" class="submit-button">Открыть</button>
    </form>
</div>