@model OpenСreditModel
<link rel="stylesheet" href="~/css/open.css" asp-append-version="true" />
@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/java.css" />
<a>Вы не можете взять больше 6 кредитов</a>
<a href="javascript:history.back()" class="btn btn-secondary btn-back">Назад</a>
