@{
    ViewData["Title"] = "ER";
}
<h1 style="color: red;">
    Подозрительные действия. Платеж отклонен. Причина: попытка перевода недействительной суммы
</h1>
<a href="javascript:history.back()">Назад</a>