@{
    ViewData["Title"] = "ER";
}
<h1 style="color: red;">
    Подозрительные действия. Платеж отклонен. Причина: попытка перевода суммы превышающий сумму счета
</h1>
    <a href="javascript:history.back()">Назад</a>
