@{
    ViewData["Title"] = "ER";
}
<link rel="stylesheet" href="~/css/java.css" asp-append-version="true" />
<h1 style="color: red;">
    Подозрительные действия. Платеж отклонен. Причина: попытка перевода суммы превышающий сумму счета
</h1>
<a href="javascript:history.back()" class="btn btn-secondary btn-back">Назад</a>
