@{
    ViewData["Title"] = "Политика конфединциальности";
}
<link rel="stylesheet" href="~/css/PP.css" asp-append-version="true" />
<div class="content">
    <h1>Политика конфиденциальности</h1>
    <p>
        Настоящая политика конфиденциальности (далее — Политика) действует в отношении всей информации, включая персональные данные в понимании применимого законодательства (далее — «Персональная информация»), которую ООО «BANK» и/или его аффилированные лица, в том числе входящие в одну группу с ООО «BANK» (далее — «Bank»), могут получить о Вас в процессе использования Вами любых сайтов, программ, продуктов и/или сервисов Bankа (далее вместе — «Сервисы»), информацию о которых Вы можете найти на сайтах bank.ru, bank.com, bank.by, bank.kz, bank.com.tr, bank.co.il и других принадлежащих Bankу сайтах (далее вместе — «Сайты»), а также в ходе исполнения Bankом / его аффилированными лицами любых соглашений и договоров, заключенных с Вами в связи с использованием Вами Сервисов. Bank может также получать Персональную информацию от своих партнеров (далее — «Партнеры»), сайты, программы, продукты или сервисы которых Вы используете (например, от рекламодателей Bankа или служб такси), из других источников с общедоступными персональными данными. В соответствующих случаях передача Персональной информации возможна только в случаях, установленных применимым законодательством, и осуществляется на основании специальных договоров между Bankом и каждым из Партнеров.

        Пожалуйста, обратите внимание, что использование любого из Сайтов и/или Сервисов может регулироваться дополнительными условиями, которые могут вносить в настоящую Политику изменения и/или дополнения, и/или иметь специальные условия в отношении персональной информации, размещенные в соответствующих разделах документов для таких Сайтов и/или Сервисов.
    </p>
</div>